.homepage-container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1505px;
}

.posts-users {
   position: relative;
   float: left;
}

.user-story-scrollbar {
    background-color: white;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    margin: 24px 0 24px;
    padding: 16px 0;
    border-radius: 3px;
    width: 600px;
}

.all-posts {
    width: 600px;
    background-color: #fafafa;
    height: 800px;
}

.right-side-user-panel {
    position: fixed;
    left: 1100px;
}

.post-user {
    height: 60px;
}

.post-container {
    margin-top: 20px;
    background-color: white;
    height: fit-content;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.post-img {
    height: 700px;
    width: 598px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
}

.post-caption-container {
    height: 100px;
}
