.delete-post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 12px;
}

.delete-post-button, .user-page-link, .cancel-delete-button, .go-to-post {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.delete-post-button {
    color: #ed4956;
}

.delete-post-button:hover, .user-page-link:hover, .cancel-delete-button:hover, .go-to-post:hover {
    background-color: #fafafa;
}

.three-dots {
    cursor: pointer;
}

.user-page-link {
    text-decoration: none;
    color: black;
}

.delete-post-button, .user-page-link, .go-to-post {
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.cancel-delete-button {
    padding-bottom: 20px;
}
